<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Songs</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="deletionStatus" class="alert alert-danger" role="alert">
                    Do you really want to delete the selected songs?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteSongs();">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="reloadPage();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>